::selection {
  background: chocolate;
  color: black;
}

:root {
  color: black;
  background: hotpink;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: hotpink;
    background: black;
  }
}

:any-link {
  color: lightsalmon;
}

mark {
  color: black;
  background: salmon;
}
